*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(20, 50%, 98%);
}
#products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#products-list img{
    width: 100%;
}
.tablet{
    display: none;
}
.desktop{
    display: none;
}
.product-card{
    width: 28%;
}
.cart-list{
    margin: 20px;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 16px;
}
.remove-from-cart{
    border-radius: 50%;
    padding: 3px;
    height: 20px;
    width: 20px;
    border-color: grey;
}
.action-box{
    display: flex;
    justify-content: space-between;
    
}
/* tablet */
@media (min-width: 560px){
    .mobile{
        display: none;
    }
    .tablet{
        display: block;
    }
}
/* desktop */
@media (min-width: 880px){
    .tablet{
        display: none;
    }
    .desktop{
        display: block;
    }
    main{
        display: flex;
    }
    section.products{
        flex: 3;
    }
    section.cart{
        flex: 1;
    }
}
